
/* tête de page*/

* {
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}




body {
    margin: 0 auto;
    background-color: #131416 ; 
    /* background-image: url(foret.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: bold;
    
  }

a{
  color: aqua;
  position: relative;
  text-transform: uppercase;
  padding: 25px 30px;
  letter-spacing: 4px;
  transform: .5s all;
  overflow: hidden;
}

a:hover {
  background-color: aqua;
  color: #050801;
}





::-webkit-scrollbar{
  background-color: black;
}

 ::-webkit-scrollbar-thumb{
   background-color: aqua;
   border-radius: 80vw;
 } 

  h1{
  text-align: center;
  font-size: 40px;
  font-family: 'Abril FatFace';
  
}

h2 {
  text-align: center;
  font-family: monospace;
  font-size: 200%;
}



/* lien href */

a {
  text-decoration: none;
}

li {
  text-decoration: none;
    margin-bottom: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px; 
    display: inline-flex;
    justify-content: center;
    color: white;
    
  }

.slide {
  scroll-behavior: smooth;
  
}

#scroll {
  overflow: hidden;
  transition: 0.5s;
}

.menu{
   display: center;
  }

.scroll-down {
  scroll-behavior: smooth;
  text-decoration: none;
  
}

.navbar{

}

/* Bouton scroll */

.landing-page{
    padding: 120px 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }


/* milieu de paage */


.midle-page p {
  text-align: center;
  width :auto ;
}



  /*  services */

  .service-item {
    display: flex;
  }

  .delivery-icon {
    font-size: 20px;
    color: aqua;
  }

  /* Texte de présentation */

  .midle-page {
    padding: 120px ;
    text-align: center;
    width :auto ;
  }

.avantages {
  padding: 60px;
  text-align: center;
  width :auto ;
}

  
p {
  font-family: system-ui;
  font-size: 110%;
}


  /* bas de page */

.interesse {
  padding: 60px;
  text-align: center;
  width :auto ;
}




  /* pied de page */

 footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px 100px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
 }

 nav{
   
 }

 .twitter {
   padding: 0px;
 }



 /* téléphone */

 @media screen and (orientation: portrait) {
/* li {
  color: black;
   } */
   html {
   font-size: 14px;
   }
  }